.card {
    width: 20rem;
    height: 50rem;
    border-radius: 15px !important;
    border: none !important;
    img {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
}

.cardImage {
    height: 25rem;
}

.cardBody{
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.cardButton { 
    margin-top: auto;
    img {
        width: 2.5rem;
    }
    button {
        background-color: rgba(255, 255, 255, 0);
        border: none;
    }
}

.dNone {
    display: none;
}